@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
  --primary-color:  #00bfff;
  --primary-color-dark:  #336272;
  --secondary-color: #202f6d;
  --secondary-color-light: #0f1221;
  --secondary-color-dark: #03060f;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(
    to right,
    var(--primary-color-dark),
    var(--primary-color)
  );
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background:hsl(240, 75%, 55%);
    margin:0;
    padding:0;
    text-align:center;
}
.pa-ge{
    background: hsl(0, 0%, 100%);
    display:inline-block;
    margin-top:150px;
    padding:5px;
    border-radius:10px;
}
h1{
    font-family:Kode Mono;
    color:hsl(0, 91%, 55%);
}
#div{
    margin:0 auto 30px auto;
    font-size:large;
    text-align:center;
    width:200px;
    height:30px;
    background-color: hsla(79, 17%, 77%, 0.507);
}
